@media (max-width: 1265px){
    .reviews-slider .slick-list {
        margin: 0;
    }
    
    .reviews-slider .slick-slide {
        margin: 0;
    }
    .reviews-box {
        box-shadow: none;
    }
}
@media (max-width: 1160px){
    .price__items {
        flex-wrap: wrap;
    }
    .price-item {
        max-width: 48%;
        margin-bottom: 50px;
    }
    .price-item__numder {
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

@media (max-width: 1105px){
    .reviews-slider {
        margin-top: 60px;
    }
    .reviews-box {
        max-width: 520px;
        margin: 0 auto;
    }
    .logos__inner {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}


@media (max-width: 1065px){
    .top-info{
        min-width: 425px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer-col__logo {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 992px){
    .menu__list {
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid #000;
        z-index: 5;
    }

    .menu__list li {
        margin-left: 0;
    }

    .menu__list a{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #000;
        background-color: #fff;
    }

    .btn__menu{
        display: block;
    }
}


@media (max-width: 940px){
    .top-info{
        min-width: 325px;
    }
}

@media (max-width: 855px){
    .top-images__box img {
        width: 300px;
    }
    .top-images__circle {
        width: 160px;
        height: 160px;
        top: 10px;
        right: 10px;
    }
    
}

@media (max-width: 740px){
    .top__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-info{
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 75px;
    }
    .top{
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .price-item {
        max-width: 100%;
    }
    .price {
        padding: 50px 0 80px;
    }
    .footer-form {
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 399px){
    .top-info__title {
        font-size: 40px;
        line-height: 42px;
    }
}


@media (min-width: 992px){
    .menu__list {
        display: flex !important;
    }    
}